# 默认注释了源码镜像以提高 apt update 速度，如有需要可自行取消注释
deb {{ base_selected_apt_mirror_url }} {{ ansible_distribution_release }} main contrib non-free non-free-firmware
# deb-src {{ base_selected_apt_mirror_url }} {{ ansible_distribution_release }} main contrib non-free non-free-firmware

deb {{ base_selected_apt_mirror_url }} {{ ansible_distribution_release }}-updates main contrib non-free non-free-firmware
# deb-src {{ base_selected_apt_mirror_url }} {{ ansible_distribution_release }}-updates main contrib non-free non-free-firmware

deb {{ base_selected_apt_mirror_url }} {{ ansible_distribution_release }}-backports main contrib non-free non-free-firmware
# deb-src {{ base_selected_apt_mirror_url }} {{ ansible_distribution_release }}-backports main contrib non-free non-free-firmware

# 安全更新使用镜像源
deb {{ base_selected_apt_security_url }} {{ ansible_distribution_release }}-security main contrib non-free non-free-firmware
# deb-src {{ base_selected_apt_security_url }} {{ ansible_distribution_release }}-security main contrib non-free non-free-firmware
